[project]
# Note: do not update the lockfile from this project since we're testing whether an upgrade
# (eg with the new- repos) will pick up all the new dependencies
name = "package-upgrade"
r_version = "4.5"

repositories = [
    { alias = "RSPM", url = "https://packagemanager.posit.co/cran/2025-01-01" },
    { alias = "new-rspm", url = "https://packagemanager.posit.co/cran/2025-05-12" },
]

dependencies = [
    "R6",
    { name = "ggplot2", repository = "new-rspm" },
]
